:root {
  --height-header: 70px;
  --height-footer: 35px;

  --width-left-menu: 200px;

  --transition-5: 0.5s;
  --transition-3: 0.3s;
  --transition-2: 0.2s;

  --color-dark-grey: #1f252c;
  --color-white: #ffffff;

  --color-lines-grey: #dddedf;
}
